@font-face {
  font-family: "MyFont";
  src: url("./my-font.ttf");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}
.hello {
  height: 100vh;
  padding: 20px;
  color: red;
  background-image: url("./icon.png");
  background-size: cover;
  box-sizing: border-box;
  font-family: "MyFont";
}
.hello img {
  width: 100%;
}
