html,
body {
  margin: 0;
  padding: 0;
}
.hello {
  height: 100vh;
  padding: 20px;
  color: red;
  background-image: url("./icon.png");
  background-size: cover;
  box-sizing: border-box;
}
.hello img {
  width: 100%;
}
